p:first-letter
{
	font-size: 116pt;
	color: yellow;
}
p
{
	font-size:21pt;
	color:turquoise;
}

h1
{
	color:#32179F;
	font-size:20pt;
}
h1:first-letter
{
	color:silver;
	font-size:100px;
}
p#linia:first-line
{
  color:blue;
  font-size:15pt;
}
p#linia
{
	font-size:19pt;
	color:turquoise;
}
